/* Estilo para el cartel de promoción */
.promo-card {
    position: fixed; /* Fijo en la pantalla */
    top: 20%; /* Se coloca a una altura del 20% desde la parte superior de la pantalla */
    right: 0; /* Se coloca en el lado derecho */
    width: 180px; /* Reducimos el ancho del cartel */
    height: 300px; /* Aumentamos la altura del cartel */
    background-color: #ff6f61; /* Fondo de color rojo-anaranjado */
    color: #ffffff; /* Texto blanco */
    padding: 20px; /* Mantener el padding para espacio interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave para dar profundidad */
    border-radius: 8px; /* Bordes redondeados */
    z-index: 1050; /* Asegúrate de que sea menor que el del carrusel */
}

.promo-card h5 {
    margin-bottom: 15px;
}

.promo-card a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.promo-card a:hover {
    text-decoration: underline;
}


.video-card {
    position: fixed;
    top: 29%; 
    left: 0;
    width: 250px; 
    height: 50%; 
    background-color: #000000; 
    color: #ffffff;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 8px; 
    z-index: 1040; 
}

.video-card iframe {
    width: 100%; 
    height: 100%; 
    border-radius: 8px; 
}