body {
  font-family: sans-serif;
  margin: 0;
}

header {
  background-color: black;
  border-bottom: 3px solid #000000;
  padding: 10px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 120px;
  width: 120px;
  margin-right: 10px;
  border: none;
  border-radius: 80%;
  background-color: black;
}

.nombre-empresa1 {
  margin: 0;
  font-size: 3rem;
  color: rgba(151, 151, 151, 0.644);
  font-family: "Orbitron", sans-serif; 
  font-weight: 400;
}

.acciones {
  display: flex;
  align-items: center;
  gap: 20px;
}

.favoritos i,
.carro-de-compras i,
.usuario i {
  font-size: 24px;
  color: white;
}

@media (max-width: 1200px) {
  
  .container {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
}

@media (max-width: 700px) {

  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logo {
    justify-content: center;
  }

  .nombre-empresa1 {
    font-size: 2.5rem; 
  }

  .acciones {
    justify-content: center;
    margin-top: 10px;
  }

  .favoritos i,
  .carro-de-compras i,
  .usuario i {
    font-size: 24px;
  }
}
