footer {
    background-color: #db15e9; /* Un gris claro de fondo */
    padding: 20px;
    text-align: center;
    border-top: 1px solid #801888; /* Línea superior sutil */
}

.contacto-info, .formulario-contacto {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 0px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #007bff; /* Azul primario de Bootstrap */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-whatsapp:hover,
.fa-youtube:hover,
.fa-twitter:hover,
.fa-linkedin:hover {
    color: black;
    font-size: 2.5rem;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.copyright {
    font-size: 0.8em;
    color: #000000; /* Gris secundario */
    margin-top: 20px;
}
   

