.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #9340c4;
    color: #ffffff;
    opacity: 0; 
    transform: translateY(30px); 
    transition: transform 0.5s ease-out, opacity 0.5s ease-out, box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card.visible {
    opacity: 1;
    transform: translateY(0); 
}

.card:hover {
    transform: translateY(-20px) scale(1.05); 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); 
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}

.card-title, .card-text {
    margin-bottom: 10px; 
}

.btn-primary {
    margin-top: auto; 
    align-self: center; 
}
