.titulo-categoria {
    font-weight: 800;
    color: #ff5722;  /* Naranja vibrante */
    font-size: 3rem;  /* Aumentamos el tamaño de la fuente */
    text-transform: uppercase;
    letter-spacing: 3px;  /* Espaciado más amplio entre letras */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);  /* Sombra sutil para dar profundidad */
    animation: cambiarColor 2s infinite, escalar 2s infinite;  /* Animaciones continuas */
}


.sidebar-categorias {
  width: 250px;
  padding: 20px;
  background-color: transparent; /* Fondo general transparente */
}

.categorias-box {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgba(0, 0, 0, 0.4); /* Un poco más sutil la transparencia */
  border-radius: 10px;
  padding: 15px;
}

.categorias-titulo {
  font-size: 30px;
  color: #ffffff; /* Letras blancas */
  margin-bottom: 10px;
}

.categorias-lista li {
  font-size: 16px;
  margin-bottom: 8px;
}

.categorias-lista li a {
  color: #ffffff; /* Links blancos */
  text-decoration: none; /* Sin subrayado */
}

.categorias-lista li a:hover {
  color: #2968c8; /* Color azul en hover */
  text-decoration: underline; /* Opcional: subrayado sólo cuando se pasa el mouse */
}

.categorias-mas {
  display: block;
  font-size: 14px;
  color: #2968c8;
  text-decoration: none;
  margin-top: 10px;
}

.categorias-mas:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* RESPONSIVE para celulares */
@media (max-width: 768px) {
  .sidebar-categorias {
    width: 100%;
    padding: 10px;
  }

  .categorias-box {
    text-align: center;
  }

  .categorias-lista li {
    font-size: 20px;
  }
}



/* Animación para el cambio de color */
@keyframes cambiarColor {
    0% {
        color: #ff5722;  /* Naranja vibrante */
    }
    50% {
        color: #ff9800;  /* Naranja más brillante */
    }
    100% {
        color: #ff5722;  /* Regresa al color original */
    }
}

/* Animación para el efecto de escala */
@keyframes escalar {
    0% {
        transform: scale(1);  /* Tamaño original */
    }
    50% {
        transform: scale(1.1);  /* Aumenta el tamaño */
    }
    100% {
        transform: scale(1);  /* Vuelve al tamaño original */
    }
}
