.titulo-categoria {
  font-weight: 800;
  color: #ff5722;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  animation: cambiarColor 2s infinite, escalar 2s infinite;
}

.sidebar-categorias {
  width: 250px;
  padding: 20px;
  background-color: transparent;
}

.categorias-box {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 15px;
}

.categorias-titulo {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 10px;
}

.categorias-lista li {
  font-size: 16px;
  margin-bottom: 8px;
}

.categorias-lista li a {
  color: #ffffff;
  text-decoration: none;
}

.categorias-lista li a:hover {
  color: #2968c8;
  text-decoration: underline;
}

.categorias-mas {
  display: block;
  font-size: 14px;
  color: #2968c8;
  text-decoration: none;
  margin-top: 10px;
}

.categorias-mas:hover {
  color: #ffffff;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .sidebar-categorias {
    width: 100%;
    padding: 10px;
  }

  .categorias-box {
    text-align: center;
  }

  .categorias-lista li {
    font-size: 20px;
  }
}

@keyframes cambiarColor {
  0% {
    color: #ff5722;
  }
  50% {
    color: #ff9800;
  }
  100% {
    color: #ff5722;
  }
}

@keyframes escalar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
