.carousel-img {
    width: 50%;
    height: 500px;
    object-fit: cover;
    margin: 0;
    padding: 0;
    display: block;
  }
  
  
  /* Responsive: tablets */
  @media (max-width: 768px) {
    .carousel-inner {
      max-height: 300px;
    }
  }
  
  /* Responsive: celulares */
  @media (max-width: 480px) {
    .carousel-inner {
      max-height: 200px;
    }
  }
  
