
body {
    font-family: sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-wrap: wrap;
    min-height: 70px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 50px;
    margin-right: 10px;
    background-color: transparent;
     border: none;
     border-radius: 80%;
     background-color :black; 
    
}

.nombre-empresa {
    margin: 10px;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

.acciones {
    display: flex;
    align-items: center;
    gap: 15px;
}

.carro-de-compras i,
.usuario i {
    font-size: 24px;
    color: white;
}


@media (max-width: 700px) {
    .acciones {
        justify-content: center;
        margin-top: 10px;
    }

    .carro-de-compras i,
    .usuario i {
        font-size: 28px;
    }
}
form {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-whatsapp:hover,
.fa-youtube:hover,
.fa-twitter:hover,
.fa-linkedin:hover {
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    form {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    .logo {
        justify-content: center;
        width: 100%;
    }
}
