/* Título principal */
.section-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    color: #000000;
    font-family: Georgia, serif;
    
}


.description {
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
    color: #fff;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}


/* Contenedor de contenido con scroll */
.scrollspy-example-2 {
    max-height: 70vh;
    overflow-y: auto;
    padding: 15px;
    background-color: #ffffffcc;
    color: #222;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.categoria{
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}


/* Responsive */
@media (max-width: 768px) {
    .scrollspy-example-2 {
        max-height: none;
    }
}
