        body {
             background-color:#db15e9;
            }

        .section-title {
            font-size: 36px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        .description {
            text-align: center;
            font-size: 18px;
            margin-bottom: 30px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        .card {
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .icon {
            font-size: 80px;
            color: #0079fb;
            margin-bottom: 20px;
        }
